* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #202a37;
    color: white;
    padding: 20px 100px 20px 100px;
    border: 4px dotted red;
}

nav, article, ul {
    display: flex;
}

.header--image {
    aspect-ratio: 16 / 9;
}

nav {
    justify-content: space-between;
    padding-bottom: 40px;
}

ul {
    list-style-type: none;
    gap: 36px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

article {
    align-items: center;
    padding-bottom: 40px;
    gap: 30px;
}

main {
    text-align: center;
}

section {
    height: 400px;
}

.information {
    border: 4px dotted greenyellow;
}

.box-container {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px 40px 0;
    max-width: 150px;
}

.box img {
    height: 150px;
    width: 150px;
    border: 3px solid #3b82f6;
    border-radius: .5rem;
    object-fit: cover;
}

.box p {
    padding-top: 10px;
    width: fit-content;
}

.quote {
    background-color: #e5e7eb;
}

.quote-author {
    font-weight: 900;
}