* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #1f2937;
    padding: 20px 200px 20px 200px;
}

nav, article, ul {
    display: flex;
}

.header--title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 8px;
}

.header--logo, .header--title {
    color: #f9faf8;
}

.header--text, a {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.header--image {
    aspect-ratio: 16 / 9;
}

nav {
    justify-content: space-between;
    padding-bottom: 40px;
}

ul {
    list-style-type: none;
    gap: 36px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    color: #e5e7eb;
    padding: 10px 40px;
    background-color: #3b82f6;
    border-radius: .4rem;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

article {
    align-items: center;
    padding-bottom: 40px;
    gap: 30px;
}

main {
    text-align: center;
}

.information, .quote {
    height: 400px;
    padding: 20px 200px 20px 200px;
}

.information {

}

.information--title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.box-container {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px 40px 0;
    max-width: 150px;
}

.box img {
    height: 150px;
    width: 150px;
    border: 3px solid #3b82f6;
    border-radius: .5rem;
    object-fit: cover;
}

.box p {
    padding-top: 10px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    place-items: center;
    color: #1f2937;
}

.text {
    font-size: 36px;
    font-weight: lighter;
}

.quote-author {
    font-weight: bold; 
}

.calltoaction {
    color: #e5e7eb;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #3b82f6;
    gap: 50px;
    padding: 40px 120px;
    border-radius: .3rem;
    display: flex;
    text-align: start;
}

.calltoaction--btn {
    border: 2px solid #e5e7eb ;
}

footer {
    background-color: #1f2937;
    height: 100px;
    color: #e5e7eb;
}